WORKING_ENV=PRODUCTION
POSTGRES_NAME=curtain_db
POSTGRES_USER=curtain_user
POSTGRES_PASSWORD=curtain_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
SECRET_KEY=CHANGE-ON-FIRST-BOOT
DJANGO_ALLOWED_HOSTS=curtain.local,curtainptm.local,localhost,127.0.0.1,*
DJANGO_CORS_WHITELIST=http://curtain.local,https://curtain.local,http://curtainptm.local,https://curtainptm.local,http://localhost,https://localhost
CURTAIN_ALLOW_NON_USER_POST=1
CURTAIN_DEFAULT_USER_LINK_LIMIT=100
CURTAIN_DEFAULT_USER_CAN_POST=1
